@use 'variables';
a {
    
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$color-black;
    
    &.button-secondary{
      position: fixed;
      top: 0;
      left: 0;
      color: variables.$color-white;
      width: 260px;
      font-size: 20px;
      @media (min-width: 768px){
        left: 10%;
      }

    }
    
    span{
      display: inline-block;
      text-align: center;
      width: 100%;
    }
    
    div{
      width: 65px;
      height: 72px;
      background-image: url(../img/icon/gold-left.svg);
      background-repeat: no-repeat;
    }

    &:hover{
      background-color: variables.$color-gold;
      color: variables.$color-black;
            
      div{
        background-image: url(../img/icon/black-left.svg);
      }
    }
  }

section.hero-location{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../img/img/mobile/Map-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 768px){
    background-image: url("../img/img/tablet/Map-tablet.jpg");
    height: 80vh;
  }
  @media (min-width: 1024px){
    background-image: url("../img/img/desktop/Map-desktop.jpg");
    height: 70vh;
  }
}