@use 'variables';
section.propertys-location{
    margin:0;
    padding: 15px;
    background-color: variables.$color-black;
    display: flex;
    flex-direction: column;
    h1.h1-location{
        margin-top:10px;
        color: variables.$color-white;
        
    }
    h3{
        margin: 0;
        color: variables.$color-gold;
    }
    p{
        color: variables.$color-white;
    }
    p:last-child{
        margin-top: 15px;
        margin-bottom: 15px;;
    }
    @media (min-width: 768px){
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 10%;
        gap: 10%;
    }
    @media (min-width: 1024px){
        gap:40%;
        padding: 10%;
    }

}